*.idea
*.vscode
*.pyc
__pycache__
.pytest_cache
*.mypy_cache

venv
venv27
venv363
venv38

build
dist
pylightxl.egg-info

~$*.xlsx

*.coverage
coverage.xml
htmlcov
99_SCRATCH
test.py
test.xlsx
~$test.xlsx
